body {
	background: black;
}
.title {
	margin: 20px;
	color: white;
	text-align: center;
}
.content {
	display: flex;
	align-items: center;
	margin: 50px 0px;
	justify-content: center;
}
.imageContent {
	margin-right: 50px;
	display: flex;
	color: white;
	height: 400px;
	/* background-color: #004f8b; */
	background-color: #bbefe775;
	width: 300px;
	border-radius: 20px;
	/* box-shadow: 0px 15px 20px 2px #cd1818; */
	box-shadow: rgb(104 201 102) 0px 15px 20px 2px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.otherContent {
	color: white;
	padding: 0px 0px 0px 30px;
	/* background-color: lightblue; */
	/* box-shadow: 0 10px 20px; */
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	width: 60%;
	box-shadow: 8px 2px 20px 4px rgb(109 184 173);
}
.image {
	width: 250px;
}
.otherContent h3 {
	text-align: center;
	margin: 10px;
}
#heading {
	font-weight: 500;
	font-size: 18px;
	width: 150px;
}
.iconTitle {
	margin-top: 15px;
	width: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.iconTitle img {
	width: 50px;
	/* margin-right: 10px; */
}
.answerContent {
	margin-left: 70px;
	font-size: 24px;
	font-weight: 400;
	width: 210px;
}
.dataContent {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.iconTitle span {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.isbn,
.nPages,
.bookCharacters {
	display: none;
}
#button {
	width: 100px;
}
.button {
	display: flex;
	margin: 25px;
	justify-content: center;
}

@media only screen and (max-width: 320px), (max-width: 425px) {
	.imageContent {
		width: 250px;
		height: 300px;
		margin-right: 0;
		margin-bottom: 35px;
	}
	.imageContent h3 {
		text-align: center;
	}
	.otherContent {
		width: 90%;
	}
	.image {
		width: 180px;
	}
	.iconTitle span {
		font-size: 12px;
	}
	.iconTitle img {
		width: 35px;
	}
	.answerContent {
		margin-left: 25px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 720px), (max-width: 991px) {
	.imageContent {
		margin-right: 0;
		margin-bottom: 35px;
		height: 350px;
	}
	.imageContent h3 {
		text-align: center;
	}
	.otherContent {
		width: 90%;
	}
	.image {
		width: 200px;
	}
	.iconTitle span {
		font-size: 16px;
	}
	.answerContent {
		margin-left: 30px;
		font-size: 20px;
	}
}
